
<script
src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.js" integrity="sha512-L2DrtRgoWP7T9JQHjjdG+qXnrfGdXL2qLiZYD1dfCM8yNrTrZTM8m2+qN+47cf/RDYHHRiE+DPhJzeG+x4z1+A==" crossorigin="anonymous"></script>
</body>
</html>