<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog App</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.css" integrity="sha512-jDAD2zMT/9AebhGFDgYhmLUCpALiDREjzKbZeHKmUvS9teiMr93Iedw3XB0l4iLIJtgdKK0RUvKYKw8SDEL/rA==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
  </head>
  <body>
      <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="code icon"></i>Blog site</div>
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">New post</a>
        </div>
      </div>
